{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin - Aparna's Shop{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">


</head>

<body>

    <header>
        <h1>Shop Admin</h1>
        <div class="header-right">
            <a href="{% url 'admin_dashboard' %}" class="home-btn"> <i class="fa-solid fa-house"></i></a>
            <a href="{% url 'admin_reports' %}" class="home-btn">
                <i class="fa-solid fa-chart-line"></i></a>
            <a href="{% url 'logout' %}" class="logout-btn"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </header>

    {% include "includes/messages.html" %}

    <div class="container">

        <div class="actions">
            <a href="{% url 'add_product' %}" class="btn">Add Product</a>
            <a href="{% url 'add_category' %}" class="btn">Add Category</a>
            <a href="{% url 'add_gst' %}" class="btn">Add GST</a>
        </div>

  
        {% block content %}
        {% endblock %}

    </div>


<script src="{% static 'css/bootstrap/bootstrap.js' %}"></script>
</body>

</html>