{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}

<div class="container py-4">

    <h2 class="mb-4 text-center mb-5">Shop Products </h2>


    <form id="filter-form" class="row mb-4 g-2 align-items-center mx-5">
        <div class="col-md-6">
            <input type="text" name="search" id="search-input" class="form-control" placeholder="Search products..." value="{{ request.GET.search }}"onkeyup
            ="this.form.submit()">
        </div>
        <div class="col-md-4">
            <select name="category" id="category-select" class="form-select"onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for cat in categories %}
                <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <!-- Product Grid -->
    <div id="product-list">
        {% include 'shop/partials/product_cards.html' %}
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    let typingTimer;
    const typingDelay = 300;

    function fetchProducts() {
        let search = $('#search-input').val();
        let category = $('#category-select').val(); 

        $.ajax({
            url: "{% url 'shop' %}",
            data: {
                'search': search,
                'category': category
            },
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            dataType: 'json',
            success: function(response) {
                $('#product-list').html(response.html);
            }
        });
    }

    $('#search-input').on('keyup', function() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(fetchProducts, typingDelay);
    });
});
</script>


{% endblock %}
