{% extends "base.html" %}
{% block title %}Wishlist {% endblock %}

{% block content %}


<div class="wishlist-container">
    <h3 class="wishlist-title">My Wishlist 💖</h3>
  <a href="{% url 'shop' %}" class="btn btn-outline-secondary mb-5">
        <i class="bi bi-arrow-left"></i> Go Back
    </a>
    {% if items %}
    <div class="wishlist-grid">
        {% for item in items %}
        <div class="wishlist-card">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <div class="wishlist-card-body">
                <h4>{{ item.product.name }}</h4>

        <div class="wishlist-price">
            {% if item.product.offer_price %}
                <span class="original text-muted" style="text-decoration: line-through;">
                    ₹{{ item.product.price }}
                </span>
                <span class="offer text-danger fw-bold">
                    ₹{{ item.product.offer_price|floatformat:2 }}
                </span>
            {% else %}
                <span class="fw-bold">
                    ₹{{ item.product.price|floatformat:2 }}
                </span>
            {% endif %}
        </div>
                <div class="stock {% if item.product.stock > 0 %}in-stock{% else %}out-of-stock{% endif %}">
                    {% if item.product.stock > 0 %}
                        In Stock
                    {% else %}
                        Out of Stock
                    {% endif %}
                </div>

                <div class="wishlist-buttons">
                    <a href="{% url 'product_detail' item.product.slug %}" class="wishlist-btn view-btn bg-transparent">
                        <i class="bi bi-eye text-info"></i>
                    </a>

                    <a href="{% url 'toggle_wishlist' item.product.id %}" class="wishlist-btn remove-btn bg-transparent">
                        <i class="bi bi-trash text-danger"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
     <div class="text-center">
        <p class="empty-state">Your wishlist is waiting to be filled ✨</p>
        <a href="{% url 'home' %}" class="empty-wish-btn mt-3">Explore Now</a>
        </div>
    {% endif %}
</div>

{% endblock %}
